/*Sidebar Pro Users*/
.sl_pro_users {margin: 0;padding: 0px}
.sl_pro_users li .user {box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06)!important;position: relative;display: block;overflow: hidden;text-align: center;text-decoration: none;background-color: #ffffff;border-radius: 4px;box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06)!important;}
.sl_pro_users li .user img {width: 100%;height: 90px;object-fit: cover;background-color: #ffffff;border-radius: 4px 4px 0 0;}
.sl_pro_users li .user span {padding: 5px;display: block;font-size: 12px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.sl_pro_users_next{transform: translateY(-90%) translateX(-11px) !important;margin: 0 !important;}
.sl_pro_users_prev{transform: translateY(-90%) translateX(-11px) !important;margin: 0;}

.sl_user-widget {border-bottom: 1px solid #ebebee;background-color: white;padding: 10px;padding-bottom: 6px;margin-bottom: 18px;border-radius: 7px;box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06)!important;overflow: hidden;box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06)!important;}
.sl_user-widget .section-header.border-bottom { border-top: 0; border-bottom: 1px solid #ebebee;}
.sl_user-widget-wrap-header{position: relative;display: flex;flex-wrap: wrap;padding-bottom: 14px;align-items: end;padding: 11px 5px;padding-top: 7px;}
.sl_user-widget-wrap-header-left { flex: 1; min-width: 1px; display: flex;align-items: center;}
.sl_user-widget-wrap-header-left>* {/* margin-bottom: 5px; */color: #333334;text-transform: capitalize;}
.sl_user-widget-wrap-header-left> div {/* display : none; */}
.sl_user-widget-wrap-header-left> a , .sl_user-widget-wrap-header-left> h4 {font-size: 16.4px;margin-bottom: 0;font-weight: 700;}
.sl_user-widget-wrap-header-left> span { display : none}
.sl_user-widget-wrap-right {width: auto; align-items: center; display: flex;justify-content: center;}
.sl_user-widget-wrap-right>* {margin-left: 10px;}
.sl_user-widget-wrap-right a.see-all {position: relative;color: #2f80ed;line-height: 1;font-size: 15px;padding: 7px;border-radius: 6px;text-decoration: none;}
.sl_user-widget-wrap-right a.see-all:hover { background-color:#f1f3f4}
.sl_user-widget-wrap-right a.see-all::after {font-family: "Feather-Icons";content: '\e930';font-size: 18px;right: 0;position: absolute;line-height: .7;display: none;}
.sl_user-widget-see-all {display: block;margin-bottom: 8px;font-size: 15px;}
.sl_user-widget_text{padding: 10px;}

.sidebar-user-data {padding: 0 6px 7px;padding-bottom: 0;margin-bottom: 12px;}
.sidebar-user-data{width: 30.33333%;margin:0;display:inline-block;padding:0 3px 5px;position:relative;}
.sidebar-user-data a{position:relative;display:block;text-decoration: none;}
.sidebar-user-data .sidebar-listed-user-avatar img{width:100%;margin:0;padding:0;display:inline-block}
.sidebar-user-data .sidebar-listed-user-name{bottom:0;font-weight: 600;left:0;color:#fff;background:linear-gradient(transparent,rgba(0,0,0,.45));padding: 6px 0;width:100%;position:absolute;font-size: 13.5px;line-height: 19px;max-height:56px;max-width: 100%;overflow: hidden;text-overflow: ellipsis;text-transform: capitalize;text-decoration: none;}
.sidebar-user-data-container{padding : 0;/* display: flex; *//* align-items: center; *//* flex-wrap: wrap; *//* justify-content: center; */margin-bottom: 0;}
.sidebar-user-data .sidebar-listed-user-name { position: relative !important; background: transparent;color: unset;}
.sidebar-user-data .sidebar-listed-user-avatar img {border-radius: 5px;width: 100%;/* height: 88px; */}
.sidebar-albums-container .sidebar-user-data .sidebar-listed-user-avatar img {height: auto ; width: 100% ; border-radius: 5px }

.sl_right_user_info {padding-left: 0;padding-right: 0}
.sl_right_user_info .wo_page_hdng {margin-bottom: 7px;}
.sl_right_user_info .wo_page_hdng_innr{ line-height: 24px; font-size: 15px;}
.sl_right_user_info .wo_page_hdng{   margin-bottom: 0;  border: none; padding: 12px 18px; padding-bottom: 6px;}
.sl_right_user_info li {padding: 4px 13px;color: #1d2129;font-size: 12px;}
.sl_right_user_info li a {text-decoration: none;color: #1d2129;}
.sl_right_user_info li svg {color:#7a7a7a;margin:-3px 6px 0 2px;width:18px;height:18px}
.sl_right_user_info li.list-group-item{padding: 7px 4px;color: #1d2129;font-size: 15px;background-color: transparent;}
.sl_right_user_info li.list-group-item svg {width: 21px;height: 21px;margin-right: 10px;font-size: 19px;line-height: 28px;}

 /*Search Filter*/
 .sl_srch_innr_filtr {padding: 0 10px;margin-bottom: 10px;}
 .sl_srch_innr_filtr > .dropdown .dropdown-menu li:last-child .sl_srch_innr_filtr {margin-bottom: 5px;}
 .sl_srch_innr_filtr > p {font-weight: 500;margin-bottom: 5px;font-size: 15px;}
 .sl_srch_innr_filtr .pp_mat_input {display: flex;flex-wrap: wrap;margin: 0 -4px;border-radius: 7px;/* overflow: hidden; */padding: 5px;background-color: #f1f3f4;}
 .sl_srch_innr_filtr .round_check {/* display: block; *//* margin: 0 4px; */flex: 1;/* border-radius: 7px; *//* overflow: hidden; */text-align: center;}
 .sl_srch_innr_filtr .round_check input {display: none;}
 .sl_srch_innr_filtr .round_check label {margin: 0;transition: all .2s ease-in-out;padding: 0px 15px;font-size: 13.5px;line-height: 33px;color: #393939;/* width: 100%; */display: inline-block;width: 72%;cursor: pointer;}
 .sl_srch_innr_filtr .round_check input:checked+label {background-color: #ffffff;box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06)!important;border-radius: 7px;}
 .sl_srch_innr_filtr .pp_mat_input .age_number {/* width: auto; */text-align: center;border: 0;border-radius: 2em;padding: 0 14px;font-size: 14px;line-height: 28px;background-color: #8eb3f3 !important;color: #ffffff;margin-left: auto;}
 .sl_srch_innr_filtr .ui-slider {border-radius: 2em;box-shadow: none;height: 4px;margin-top: 15px;background: rgba(63, 81, 181, 0.25);z-index: 9;}
 .sl_srch_innr_filtr .ui-slider .ui-slider-handle {width: 15px;height: 15px;outline: none;border: 0;border-radius: 50%;top: -5px;}
 .sl_srch_innr_filtr .ui-slider .ui-slider-range, .sl_srch_innr_filtr .ui-slider .ui-slider-handle {background-color: #2196f3;}
 .sl_srch_game_tabss .col-md-6 {width: 25%;}

 /* avatars member */
 .sl_hide_members img { display:none !important}
 .sl_hide_members  img:nth-child(2) , .sl_hide_members  img:nth-child(3) ,  .sl_hide_members  img:nth-child(4) , .sl_hide_members  img:nth-child(5) , .sl_hide_members  img:nth-child(6) {  display:inline  !important}

