 <!-- Content
    ================================================== -->
    <div uk-height-viewport class="uk-flex uk-flex-middle">
      <div class="uk-width-2-3@m uk-width-1-2@s m-auto rounded uk-overflow-hidden shadow-lg">
          <div class="uk-child-width-1-2@m uk-grid-collapse bg-gradient-primary" uk-grid>

              <!-- column one -->
              <div class="uk-margin-auto-vertical uk-text-center uk-animation-scale-up p-3 uk-light">
                  <img src="assets/images/logo-light-icon.png" alt="">
                  <h3 class="mb-3 mt-lg-4"> Resources relationnelles</h3>
                  <p>La plateforme pour améliorer<br> vos relations. </p>
              </div>

              <!-- column two -->
                  <div class="uk-card-default px-5 py-8">
                      <div class="mb-4 uk-text-center">
                          <h2 class="mb-0"> Se connecter</h2>

                      </div>

                  <form [formGroup] = " signInForm " class="uk-child-width-1-1 uk-grid-small" uk-grid >


                      <div>
                          <div class="uk-form-group">
                              <label class="uk-form-label" > Adresse mail</label>

                              <div class="uk-position-relative w-100">
                                  <span class="uk-form-icon">
                                      <i class="icon-feather-mail"></i>
                                  </span>
                                  <input formControlName="email" class="uk-input" type="email" placeholder="nom@exemple.fr">
                              </div>

                          </div>
                      </div>

                      <div class="uk-width-1-2@s">
                          <div class="uk-form-group">
                              <label class="uk-form-label" for="Mdp" > Mot de passe</label>

                              <div class="uk-position-relative w-100">
                                  <span class="uk-form-icon">
                                      <i class="icon-feather-lock"></i>
                                  </span>
                                  <input formControlName="Mdp" class="form-control" type="password" placeholder="********">
                              </div>

                          </div>
                      </div>
                      <div>
                        <div class="mt-4 uk-flex-middle uk-grid-small" uk-grid>
                            <div class="uk-width-expand@s">
                                <p> Mot de passe oublié ? <a href="#">Nouveau mot de passe</a></p>
                            </div>
                            <div class="uk-width-auto@s">
                                <input type="submit" class="button primary" value="S'inscrire" routerLink="/register">
                            </div>
                            <div class="uk-width-auto@s">
                                <input type="submit" class="button primary" value="Se connecter" (click)="onSubmit()">
                                <p class="alert-danger" *ngIf="errorMessage">{{ errorMessage }}</p>
                            </div>
                        </div>
                    </div>

                  </form>

