.divSearch {
    padding: 4px;
    margin: 1px;
    border: 1px solid gray;
    border-radius: 20px;
    background-color: white;
}
mat-icon {
    cursor: pointer;
}
.toolbar {
    width: 100vw;
    z-index:2;
}
.search {
    padding: 2px;
    width: 90%;
    border: none;
    outline:none;
}