<mat-toolbar class="toolbar" fxLayout="row" fxLayoutAlign="space-around center" >

    <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex.lt-md="30" fxFlex.gt-sm="200px">
        <mat-icon fxHide.gt-sm (click)="menu.emit()">menu_open</mat-icon>
        <a fxHide.gt-sm href="/"> <img src="assets/images/logo.png" class="logo-inverse" alt=""></a>
    </div>

    <div class="divSearch" fxFlex="55" fxLayoutAlign="start center" [formGroup]="searchForm">
        <input #search class="search" formControlName="search" type="text" placeholder="Rechercher des amis" (onkeypress)="send($event)"/>
        <mat-icon *ngIf="search.value !== ''">search</mat-icon>
    </div>
    
    <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex="15">
        <mat-icon>create</mat-icon>
        <div uk-dropdown="pos: bottom-right;mode:click ">
            <mat-list>
                <mat-list-item>
                    <mat-icon [ngStyle]="{'color': 'purple'}">campaign</mat-icon>
                    &nbsp;Créer une ressource
                </mat-list-item>
                <mat-list-item>
                    <mat-icon [ngStyle]="{'color': 'blue'}">groups</mat-icon>
                    &nbsp;Créer un groupe
                </mat-list-item>
            </mat-list>
        </div>

        <mat-icon (click)="openChat.emit()">mail</mat-icon>

        <mat-icon>person</mat-icon>
        <div uk-dropdown="pos: bottom-right;mode:click ">
            <mat-list>
                <mat-list-item>
                    <mat-icon [ngStyle]="{'color': 'purple'}">campaign</mat-icon>
                    <span>&nbsp; Mes ressources</span>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon [ngStyle]="{'color': 'green'}">event_available</mat-icon>
                    <span>&nbsp; Mes groupes</span>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon [ngStyle]="{'color': 'blue'}">groups</mat-icon>
                    <span>&nbsp; Mes amis</span>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon [ngStyle]="{'color': 'black'}">settings</mat-icon>
                    <span>&nbsp; Mes paramètres</span>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon [ngStyle]="{'color': 'red'}">person_off</mat-icon>
                    <span>&nbsp; Se déconnecter</span>
                </mat-list-item>
            </mat-list>
        </div>
    </div>

</mat-toolbar>