<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex="30">
        <mat-icon fxHide.gt-sm>menu_open</mat-icon>
        <a fxHide.gt-sm href="/"> <img src="assets/images/logo.png" class="logo-inverse" alt=""></a>
    </div>
    <mat-form-field fxFlex="40">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput type="text" placeholder="Recherchez des amis, des vidéos et plus encore..." />
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex="20">
        <mat-icon>create</mat-icon>
        <mat-icon>mail</mat-icon>
        <mat-icon>notifications_active</mat-icon>
        <mat-icon>person</mat-icon>
    </div>
</mat-toolbar>