<div class="default">
  <br/>
  <br/>
 <!-- <div uk-height-viewport class="uk-flex uk-flex-middle"> -->
    <!-- <div class="uk-width-2-3@m uk-width-1-2@s m-auto rounded uk-overflow-hidden shadow-lg"> -->
       <div class="uk-grid-collapse bg-gradient-primary" uk-grid>
        <div class="uk-card-default px-5 py-8">
          <div class="mb-4 uk-text-center">
              <h2 class="mb-0"> Se connecter</h2>
          </div>
          <form class="uk-child-width-1-1 uk-grid-small" uk-grid  [formGroup] = " form " >
          <div>
              <div class="uk-form-group" >
                  <label class="uk-form-label"> Email </label>

                  <div class="uk-position-relative w-100">
                      <span class="uk-form-icon">
                          <i class="icon-feather-user"></i>
                      </span>
                      <input type="email" class="uk-input" formControlName="email" />
                  </div>
                  <!-- <div class="uk-alert-danger" role="alert">
                    L'email est requis !
                  </div> -->
              </div>
          </div>
          <div class="uk-width-1-2@s">
              <div class="uk-form-group">
                  <label class="uk-form-label"> Mot de passe</label>

                  <div class="uk-position-relative w-100">
                      <span class="uk-form-icon">
                          <i class="icon-feather-lock"></i>
                      </span>
                      <input type="password" class="uk-input" formControlName="password"/>
                  </div>
              </div>
          </div>

          <div>
              <div class="mt-4 uk-flex-middle uk-grid-small" uk-grid>
                  <div class="uk-width-expand@s">
                      <p> Vous n'avez pas de compte ? <a routerLink="/register">S'inscrire</a></p>
                  </div>
                  <div class="form-group">
                    <button class="uk-button-primary" (click) = "onSubmit()">Login</button>
                  </div>
                  <div class="form-group">
                    <div class="uk-alert-danger" role="alert"*ngIf="submitted && isLoginFailed">
                      Échec de la connexion: {{ errorMessage }}
                    </div>
                  </div>
              </div>
          </div>
      </form>
    </div>
<router-outlet></router-outlet>
