<!-- <div class="default">
  <br/>
  <br/>
  <div class="uk-grid-collapse bg-gradient-primary" uk-grid>
    <div class="uk-card-default px-5 py-8">
      <div class="mb-4 uk-text-center">
        <h2 class="mb-0"> Se connecter</h2>
      </div>
      <form class="uk-child-width-1-1 uk-grid-small" uk-grid *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate >
        <div>
          <div class="uk-form-group">
            <label class="uk-form-label"> Nom d'utilisateur</label>
            <div class="uk-position-relative w-100">
              <span class="uk-form-icon">
                <i class="icon-feather-user"></i>
              </span>
              <input type="text" class="uk-input" name="username" [(ngModel)]="form.username" required #username="ngModel"/>
            </div>
              <div class="uk-alert-danger" role="alert" *ngIf="username.errors && f.submitted">
                Le nom d'utilisateur est requis !
              </div>
            </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="uk-input" name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel"/>
          <div
            class="uk-alert-danger"
            role="alert"
            *ngIf="password.errors && f.submitted"
          >
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <br/>
        <div class="form-group">
          <button class="uk-button-primary">Login</button>
        </div>
        <div class="form-group">
          <div class="uk-alert-danger" role="alert"*ngIf="f.submitted && isLoginFailed">
            Login failed: {{ errorMessage }}
          </div>
        </div>
      </div>
      </form>

      <div class="uk-alert-success" *ngIf="isLoggedIn">
        Logged in as {{ roles }}.
      </div>
    </div>
  </div>

</div> -->
<div class="default">
  <br/>
  <br/>
 <!-- <div uk-height-viewport class="uk-flex uk-flex-middle"> -->
    <!-- <div class="uk-width-2-3@m uk-width-1-2@s m-auto rounded uk-overflow-hidden shadow-lg"> -->
       <div class="uk-grid-collapse bg-gradient-primary" uk-grid>
        <div class="uk-card-default px-5 py-8">
          <div class="mb-4 uk-text-center">
              <h2 class="mb-0"> Se connecter</h2>
          </div>
          <form class="uk-child-width-1-1 uk-grid-small" uk-grid *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate >
          <div>
              <div class="uk-form-group">
                  <label class="uk-form-label"> Nom d'utilisateur</label>

                  <div class="uk-position-relative w-100">
                      <span class="uk-form-icon">
                          <i class="icon-feather-user"></i>
                      </span>
                      <input type="text" class="uk-input" name="username" [(ngModel)]="form.username" required #username="ngModel"/>
                  </div>
                  <div class="uk-alert-danger" role="alert" *ngIf="username.errors && f.submitted">
                    Le nom d'utilisateur est requis !
                  </div>
              </div>
          </div>
          <div class="uk-width-1-2@s">
              <div class="uk-form-group">
                  <label class="uk-form-label"> Mot de passe</label>

                  <div class="uk-position-relative w-100">
                      <span class="uk-form-icon">
                          <i class="icon-feather-lock"></i>
                      </span>
                      <input type="password" class="uk-input" name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel"/>
                  </div>
              </div>
          </div>

          <div>
              <div class="mt-4 uk-flex-middle uk-grid-small" uk-grid>
                  <div class="uk-width-expand@s">
                      <p> Vous n'avez pas de compte ? <a routerLink="/register">S'inscrire</a></p>
                  </div>
                  <div class="form-group">
                    <button class="uk-button-primary">Login</button>
                  </div>
                  <div class="form-group">
                    <div class="uk-alert-danger" role="alert"*ngIf="f.submitted && isLoginFailed">
                      Échec de la connexion: {{ errorMessage }}
                    </div>
                  </div>
              </div>
          </div>

      </form>
      <div class="uk-alert-success" *ngIf="isLoggedIn">
        connecté en tant que {{ roles }}.
      </div>
    </div>
