<div class="default">
  <h1  class="mb-1"> Games </h1>
  <br>
  <br/>
  <div class="uk-position-relative" uk-slider="finite: true">
    <div class="uk-slider-container pb-3">
      <ul class="uk-slider-items  uk-child-width-1-3@s  uk-grid-small uk-grid"
      uk-scrollspy="target: > div; cls: uk-animation-slide-bottom-small; delay: 100">
          <li>
            <div class="sl_game_list">
  
                <!-- Game cover -->
                <a href="#">
                    <div class="sl_game_list_media">
                        <img src="assets/images/games/1.jpg" alt="Picture">
                    </div>
                </a>
  
                <!-- Group  Content -->
                <div class="sl_game_list_info">
                    <h3>Piscine à 8 balles</h3>
                      <span> 2 utilisateurs</span>
                </div>
              </div>
          </li>
          <li>
            <div class="sl_game_list">
  
                <!-- Game cover -->
                <a href="#">
                    <div class="sl_game_list_media">
                        <img src="assets/images/games/2.jpg" alt="Picture">
                    </div>
                </a>
  
                <!-- Group  Content -->
                <div class="sl_game_list_info">
                    <h3> Boxe Big Shot </h3>
                    <span> 3 utilisateurs</span>
                </div>
            </div>
  
        </li>
      </ul>
    </div>
  </div>
  
</div>
