@charset "UTF-8";


/* -------------------------------------------------------------- */
/* 01. Import googlefonts
 ----------------------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

html {
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #1b74e8;
}
html body {-webkit-font-smoothing: antialiased;overflow-x: hidden;padding: .75rem 2rem;background-repeat: no-repeat;background-attachment: fixed;padding-top: 1.25rem;padding-bottom: 1.25rem;background: #03989e;}


/* ---------------------------------- */
/*   page contents Layout
------------------------------------- */
.default {
  position: relative;
  z-index: 5;
  display: block;
  overflow: visible;
  border-radius: 30px;
  min-height: 100vh;
  background-color: #f1f5f8;
  padding: 0 22px 2.5rem;
}

/* Paysage de téléphone et plus grand */
@media (min-width: 640px) {

  .container-expand-left.container-xsmall,
  .container-expand-right.container-xsmall {
    max-width: calc(50% + (750px / 2) - 30px);
  }

  .container-expand-left.container-small,
  .container-expand-right.container-small {
    max-width: calc(50% + (900px / 2) - 30px);
  }
}

.main_sidebar .side-overlay {
  z-index: 1;
  position: fixed;
  width: 100%;
  margin-left: 270px;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.42);
  visibility: hidden;
}

.mobile-visible .main_sidebar .side-overlay {
  visibility: visible;
}

.main_sidebar .side-overlay {
  z-index: 1;
  position: fixed;
  width: 100%;
  margin-left: 270px;
  height: 100%;
  background: hsl(0deg 0% 0% / 18%);
  visibility: hidden;
}
