@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

html {
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #1b74e8;
}
html body {-webkit-font-smoothing: antialiased;overflow-x: hidden;padding: .75rem 2rem;background-repeat: no-repeat;background-attachment: fixed;padding-top: 1.25rem;padding-bottom: 1.25rem;background: #03989e;}

.default {
  position: relative;
  z-index: 5;
  display: block;
  overflow: visible;
  border-radius: 30px;
  min-height: 100vh;
  background-color: #f1f5f8;
  padding: 0 22px 2.5rem;
}

