<div class="default">
  <br/>
  <br/>
  <div>
    <mat-table>
      <ng-container matColumnDef = "name">
        <mat-header-cell> Nom </mat-header-cell>
        <mat-cell> Pseudo user</mat-cell>
      </ng-container>
      <ng-container matColumnDef = "email">
        <mat-header-cell> E-Mail </mat-header-cell>
        <mat-cell> email de l'user </mat-cell>
      </ng-container>
      <ng-container matColumnDef = "phone">
        <mat-header-cell> Téléphone </mat-header-cell>
        <mat-cell> user phone </mat-cell>
      </ng-container>
      <mat-header-row * matHeaderRowDef = "displayColumns"> </mat-header-row>
        <mat-row * matRowDef = "let row; colonnes: affichésColumns;"> </mat-row>
      </mat-table>
  </div>
</div>
