/*Footer*/
.footer-wrapper {font-size:12px;/* font-family: "Roboto", sans-serif; */display: none;}
.footer-wrapper hr {border-color:#e9e9e9;margin-bottom:15px!important}
.footer-wrapper .footer-powered {display: flex;align-items: center;justify-content: space-between;color: #858585;}
.footer-wrapper .footer-powered .list-inline {margin: 0;}
.footer-wrapper-sidebar {font-size:12px;font-family: "Roboto", sans-serif;}
.footer-wrapper-sidebar .footer-powered {display: flex;align-items: center;justify-content: space-between;color: #858585;font-weight: 500;}
.footer-wrapper-sidebar .footer-powered p, .footer-wrapper .footer-powered p {margin: 0;font-weight: 600;}
.footer-wrapper-sidebar .footer-powered .dropdown-toggle, .footer-wrapper .footer-powered .dropdown-toggle {text-decoration: none;line-height: 1;display: block;color: #858585;}
.footer-wrapper-sidebar .footer-powered .dropdown-toggle svg, .footer-wrapper .footer-powered .dropdown-toggle svg {width: 13px;height: 13px;margin-top: -2px;}
.sl_lang_select_menu , .footer-wrapper-sidebar .sun_foot_drop_menu .dropdown-menu {min-width: 240px;border-radius: 7px !important;box-shadow: 0 3px 15px -3px rgba(0,0,0,.1),0 10px 6px -2px rgba(0,0,0,.05)!important;}
.sl_lang_select_menu >li>a , .footer-wrapper-sidebar .sun_foot_drop_menu .dropdown-menu >li>a {font-size: 14px !important;padding: 2px 10px !important;margin: 0 7px;border-radius: 6px;color: #111111;}
.sl_lang_select_menu >li>a:hover , .footer-wrapper-sidebar .sun_foot_drop_menu .dropdown-menu >li>a:hover{background: #f1f3f4;}
.footer-wrapper-sidebar hr {border-color: #e9e9e9;margin: 10px 0 !important;}
.footer-wrapper-sidebar .list-inline {margin: 0 -5px 0;display: flex;align-items: center;flex-wrap: wrap;justify-content: space-between;}
.footer-wrapper-sidebar .list-inline > li > a {text-decoration: none;line-height: 1;display: block;color: #858585;font-weight: 600;}




