<app-toolbar class="fixed" (openChat)="openChat = !openChat"></app-toolbar>

<mat-sidenav-container>
  <mat-sidenav *ngIf="menu" mode="side" fixedInViewport="fixed" fixedTopGap="20" opened>
    <app-sidebar ></app-sidebar>
  </mat-sidenav>
  <mat-sidenav opened mode="side" fixedInViewport="fixed" [opened]="openChat" fixedTopGap="50" position="end">
    <app-chat (openChat)="openChat = !openChat"></app-chat>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>