<div class="main_sidebar">
  <div class="side-overlay" uk-toggle="target: #wrapper ; cls: collapse-sidebar mobile-visible"></div>

  <!-- sidebar header -->
  <div class="sidebar-header">
      <!-- Logo-->
      <div id="logo">
          <a href="feeds.html"> <img src="assets/images/logo-light.png" alt=""></a>
      </div>
      <span class="btn-close" uk-toggle="target: #wrapper ; cls: collapse-sidebar mobile-visible"></span>
  </div>
  <div class="sidebar">
    <div class="sidebar_innr" data-simplebar>
      <div class="sections">
        <!-- Remplacement menu -->
        <mat-list fxLayout="column">
            <a *ngFor="let item of menu" [href]="item.lien">
                <mat-list-item>
                    <mat-icon class="blanc">{{item.icone}}</mat-icon>
                    <span class="blanc">{{item.nom}}</span>
                </mat-list-item>
            </a>
            <button fxFlex class="more" mat-raised-button uk-toggle="target: #more">
                <span id="more" fxLayout="row" fxLayoutAlign="center center">
                    En savoir plus <mat-icon>keyboard_arrow_down</mat-icon> 
                </span>
                <span  id="more" hidden  fxLayout="row" fxLayoutAlign="center center">
                    Voir moins <mat-icon>keyboard_arrow_up</mat-icon>
                </span>
            </button>
            <mat-divider></mat-divider>
        </mat-list>

      </div>
      <div class="sections">
        <h3> Explorer </h3>
        <ul>
            <li>
                <a href="group.html"> <mat-icon>groups</mat-icon> Groupes </a>
            </li>
            <li>
                <a href="pages.html"> <mat-icon>flag</mat-icon> Pages </a>
            </li>
        </ul>
    </div>
      <!--  Optional Footer -->
      <div id="foot">
          <div class="foot-content">
              <p>© 2020 <strong>The Boys</strong>. All Rights Reserved. </p>
          </div>
      </div>
    </div>
  </div>
</div>

