<div class="main_sidebar" style="position: relative;">
    <div class="side-overlay" uk-toggle="target: #wrapper ; cls: collapse-sidebar mobile-visible"></div>
    <div class="sidebar-header">
        <div id="logo">
            <a href="/"> <img class="mainLogo" src="assets/images/logo-light.png" alt=""></a>
            <a href="/"> <img class="miniLogo" src="assets/images/logo.png" alt=""></a>
        </div>
            <span class="btn-close" uk-toggle="target: #wrapper ; cls: collapse-sidebar mobile-visible"></span>
    </div>    
        <mat-list fxLayout="column" *ngIf="!account">
            <a *ngFor="let item of unSignMenu" class="itemMenu" [routerLink]="item.lien">
                <mat-list-item>
                    <mat-icon class="blanc">{{item.icone}}</mat-icon>
                    <span class="blanc">&nbsp;{{item.nom}}</span>
                </mat-list-item>
            </a>
        </mat-list>

        <mat-list fxLayout="column" *ngIf="account && account.role =='User'">
            <a *ngFor="let item of userMenu" class="itemMenu" [routerLink]="item.lien">
                <mat-list-item>
                    <mat-icon class="blanc">{{item.icone}}</mat-icon>
                    <span class="blanc">&nbsp;{{item.nom}}</span>
                </mat-list-item>
            </a>
        </mat-list>
        <mat-list fxLayout="column" *ngIf="account && account.role =='Moderator'">
            <a *ngFor="let item of moderatorMenu" class="itemMenu" [routerLink]="item.lien">
                <mat-list-item>
                    <mat-icon class="blanc">{{item.icone}}</mat-icon>
                    <span class="blanc">&nbsp;{{item.nom}}</span>
                </mat-list-item>
            </a>
        </mat-list>
        <mat-list fxLayout="column" *ngIf="account && account.role == 'Admin'">
            <a *ngFor="let item of adminMenu " class="itemMenu" [routerLink]="item.lien">
                <mat-list-item>
                    <mat-icon class="blanc">{{item.icone}}</mat-icon>
                    <span class="blanc">&nbsp;{{item.nom}}</span>
                </mat-list-item>
            </a>
        </mat-list>
        <mat-list fxLayout="column" *ngIf="account && account.role == 'SuperAdmin'">
            <a *ngFor="let item of superAdminMenu " class="itemMenu" [routerLink]="item.lien">
                <mat-list-item>
                    <mat-icon class="blanc">{{item.icone}}</mat-icon>
                    <span class="blanc">&nbsp;{{item.nom}}</span>
                </mat-list-item>
            </a>
        </mat-list>
        <p class="foot">© 2020 <strong>The Boys</strong>. All Rights Reserved. </p>
</div>
