
<div class="default">
<br/>
<br/>
<div *ngIf="error">
    <H3>{{errorMessage}}</H3>
</div>
        <div class="post">
            <div  *ngFor="let ress of ressources" class="sl_group_list">
                <div class="post-heading">
                    <div class="post-avature" *ngIf="ress.picture?.length>0">
                        <img src="assets/images/post/img-1.jpg" alt="">
                    </div>
                    <div class="post-title">
                        <h4> {{ress.posterPseudo}} </h4>
                        <p> {{ress.createdAt}} <span> h</span> <i class="uil-users-alt"></i> </p>
                        <p>{{ ress.message}}</p>
                    </div>
                    <div class="post-btn-action">
                        <span class="icon-more uil-ellipsis-h"></span>
                        <div class="mt-0 p-2" uk-dropdown="pos: top-right;mode:hover ">
                            <ul class="uk-nav uk-dropdown-nav">
                                <li><a href="#"> <i class="uil-share-alt mr-1"></i> Partager</a> </li>
                                <li><a href="#"> <i class="uil-edit-alt mr-1"></i> Modifier le message </a></li>
                                <li><a href="#"> <i class="uil-comment-slash mr-1"></i> Désactiver les commentaires
                                    </a></li>
                                <li><a href="#"> <i class="uil-favorite mr-1"></i> Ajouter des favoris </a>
                                </li>
                                <li><a href="#" class="text-danger"> <i class="uil-trash-alt mr-1"></i>
                                        Supprimer </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="post-description">
                    <div class="fullsizeimg">
                        <img src="assets/images/post/img-1.jpg" alt="">
                    </div>
            
                    <div class="post-state-details" >
                        <div>
                            <img src="assets/images/icons/reactions_like.png" alt="">
                            <img src="assets/images/icons/reactions_love.png" alt="">
                            <p> 13 </p>
                        </div>
                        <p *ngIf="ress.comments?.length > 0"> {{ress.comments.length }} commentaire(s)</p>
                    </div>
                </div>
                <div class="post-state" >
                    <div class="post-state-btns"> 

                    <i class="uil-thumbs-up" 
                            (click)="like(ress._id)" ></i> {{ress.likers.length}}<span > Aimé(e) </span>
                    <div *ngIf="ress.comments?.length > 0"> 
                        <i class="uil-heart" >{{ress.comments.length}} <span> Favori(s)</span></i>
                    </div> 
                    
                    <i class="uil-share-alt"></i> 193 <span> Partagé
                        </span>
                    <i class="uil-bookmark"></i> 13 <span> Enregistré(e) </span>
                    </div>
                </div>
            
                <!-- post comments -->
                <div class="post-comments" *ngFor="let comm of ress.comments;let i= index;">
                    <div class="post-comments-single">
                        <!-- <div class="post-comment-avatar">
                            <img src="assets/images/avatars/avatar-5.jpg" alt="">
                        </div> -->
                        <div class="post-comment-text">
                            <div class="post-comment-text-inner" >
                                <div class="uk-slider-container">                            
                                    <span class="icon-more uil-ellipsis-h" position :top-right></span>
                                    <div  uk-dropdown="pos: right-center uk-animation-scale-up uk-inline">
                                        <form [formGroup] = "answerForm">
                                            <ul class="uk-nav uk-dropdown-nav " >
                                                    <li class="uk-nav-header">Répondre à <b>{{comm.commenterPseudo}}</b></li>
                                                    <li class="uk-nav-divider"></li>
                                                    <li>
                                                        <input formControlName="answer" type="text"  class="uk-input uk-active" >
                                                    </li>
                                                    <li><button class="uil-comment mr-1" (click) = "askComment(comm.commenterId, comm.commenterPseudo, ress._id)"> </button></li>
                                            </ul>
                                        </form>
                                    </div>
                                    <div class ="uk-flex">
                                        <div style="text-align: left; margin:auto; padding : auto;">
                                            <h6> {{comm.commenterPseudo}}</h6>
                                            <p> {{comm.text}}</p>
                                        </div>

                                        <div style="text-align: right; margin:auto; padding : auto;">
                                            <h6>{{comm.answerPseudo}}</h6>
                                            <p>{{comm.answertext}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="uk-text-small">
                                <a href="#" class="text-danger mr-1"> <i class="uil-heart"></i> J'aime
                                </a>
            
                                <span> {{comm.createdAt}}</span>
                            </div> -->
                        </div>
                        <a href="#" class="post-comment-opt"></a>
                    </div>
                    <div class="post-new-media">
                        <form [formGroup] = " commentForm ">
                            <div class="post-new-media-input" *ngIf="ress.comments.length == 0 || i== ress.comments.length -1">
                                <input formControlName="userComm" type="text" class="uk-input" placeholder="Répondre aux commentaires" >
                                <button type="button" class="btn button small primary" (click)="addComment(ress._id, comm.commenterId, comm.commenterPseudo)" class="post-state-btns">
                                    <span> Envoyer</span>
                                </button>

                            </div>
                        </form>
                    </div>
            
                </div>
            </div>

            
        </div>

</div>
