/* button closec */
.post-new-btn-close {
  z-index: 100;
  border-radius: 100%;
  background: #f1f3f4;
  width: 32px;
  height: 32px;
  position: absolute;
  right: 18px;
  margin-top: -5px;
}

.post-new-btn-close::before {
  font-family: "Feather-Icons";
  font-size: 20px;
  content: '\ea02';
  line-height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.post-new-btn-close:hover {
  background-color: #d4d4d4;
  cursor: pointer;
}

.post-focus .post-pop  .post-new ,
.post-focus .post-pop .post-new-overyly  {
  transition: all 0.15s cubic-bezier(0, 0, 0, 1.09) !important;
}

.post-pop .post-new .post-new-media{
  margin-bottom:40px
}

.post-new-tab-nav{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
  border-bottom: 1px solid #ebebee;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.post-new-tab-nav .uk-grid-margin {
  margin-top: 10px !important;
}
.post-new-tab-nav a {
  display: flex;
  align-items: center;
  border-radius: 100px;
  border-radius: 6px;
  cursor: pointer;
  width: 30%;
  transition: all .1s linear;
  padding: 5px 8px;
}

.post-new-tab-nav a:hover {
  background-color: #f2f4f5;
}

.post-new-tab-nav a img {
  width: 23px;
  margin-right: 7px;
}

.post-new-tab-nav a svg {margin-right: 6px;}
.post-new-tab-nav a span {font-size: 15px;font-weight: 600;}


/* ---------------------------------- */
/*  posts
/* ---------------------------------- */

.post {
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 1px 9px -2px #d2d2d2;
  border-radius: 6px;
}

.post .post-heading {
  padding: 20px 15px;
  display: flex;
  padding-bottom: 0;
  position: relative;
}

.post-heading .post-avature {
  width: auto
}

.post-heading .post-avature img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.post-heading .post-title {
  margin-left: 15px;
  flex: 1;
  min-width: 1px;
}

.post-heading .post-title h4 {
  font-size: 16px;
  margin-bottom: -1px;
}

.post-heading .post-title p {
  font-size: 13px;
  margin-bottom: 0;
  font-weight: 600;
  color: #7d7d7d;
}

.post-heading .post-title p i {
  margin-left: 8px
}

.post-heading .post-btn-action {
  right: 0;
  top: 0;
  width: auto;
  height: 25px;
}


.post-heading .post-btn-action span.icon-more {
  width: 29px;
  height: 3px;
  position: relative;
  border-radius: 100%;
}

.post-heading .post-btn-action span.icon-more::before {
  font-family: "unicons";
  font-size: 22px;
  content: '\e99e';
  line-height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  position: absolute;
}

.post .post-description {
  padding: 15px 15px 15px;
  padding-bottom: 8px;
}

.post .post-description .uk-grid-small>* {
  padding-left: 10px !important;
}

.post .post-description *+.uk-grid-margin {
  margin-top: 10px
}

.post .post-description .fullsizeimg,
.post .post-description .fullsizevid {
  max-height: 600px;
  margin-left: -15px;
  width: calc(100% + 30px);
  overflow: hidden;
  margin-bottom: 5px;
  margin-top: -10px;
}

.post .post-description .fullsizeimg img,
.post .post-description .fullsizeimg video {
  max-height: none;
  border: 0;
  padding: 0;
  border-radius: 0;
}

.post hr {
  margin: 0 -15px 0 -15px;
  border-color: #efefef;
}

.post .post-state {
  width: 100%;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
}

.post .post-state .post-state-btns:hover {
  background-color: rgb(241, 243, 244);
}

.post .post-state .post-state-btns {
  border-radius: 2px;
  color: #616770;
  font-size: 13px;
  border-radius: 5px;
  font-weight: 600;
  line-height: 19px;
  flex: 1;
  width: 100%;
  border: 0;
  margin: 4px 4px;
  box-shadow: none;
  padding: 9px 5px;
  transition: all .1s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post .post-state .post-state-btns i {
  font-size: 19px;
  margin-right: 4px;
}

.post .post-state .post-state-btns span {
  margin-left: 4px;
}

.post .post-state-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4px;
  padding-right: 4px;
}

.post .post-state-details div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post .post-state-details * img {
  width: 27px;
  border-radius: 100%;
  z-index: 2;
  border: 3px solid white;
}

.post .post-state-details * img:nth-child(2) {
  margin-left: -6px;
  z-index: 1;
}

.post .post-state-details p {
  margin-bottom: 0;
  font-size: 13px;
}

.post .post-add-comment-avature img {
  width: 35px;
  border-radius: 100%;
}

.post .post-add-comment {
  transition: all .2s ease;
  display: flex;
  position: relative;
  margin-top: 15px;
  overflow: hidden;
}

.post .post-add-comment-text-area input {
  border: 0;
  width: 100%;
  height: 30px;
  background: #f1f3f4;
  outline: 0;
}

.post .post-add-comment-text-area {
  background-color: #f1f3f4;
  margin-left: 10px;
  position: relative;
  width: 100%;
  border-radius: 50px;
  overflow: hidden;
  padding: 3px 15px;
}

.post .post-add-comment-text-area .icons {
  position: absolute;
  right: 15px;
  top: 8px;
}

.post .post-add-comment-text-area .icons span {
  font-size: 19px;
  margin-left: 10px;
}

.post-comments {
  padding: 15px;
}

.post-comments-single {
  display: flex;
  margin-bottom: 14px;
}

.post-comment-avatar {
  width: auto;
  flex: none;
}

.post-comment-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.post-comment-text {
  position: relative;
  margin-left: 15px;
}

.post-comment-text-inner {
  background-color: #f1f3f4;
  padding: 10px;
  border-radius: 9px;
  margin-bottom: 3px;
}

.post-comment-text-inner h6 {
  margin-bottom: 0;
  font-size: 14.5px;
}

.post-comment-text-inner p {
  margin-bottom: 0;
}

.post-comment-text::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid;
  border-right-color: #f4f4f4;
  left: -7px;
  right: auto;
  top: 12px;
  position: absolute;
}

.post-comments a.view-more-comment {
  display: block;
  margin-bottom: 8px;
  font-size: 13.5px;
}

.post-comments a.view-more-comment:hover {
  text-decoration: underline;
}

.post-comment-opt {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 100%;
  margin-left: 5px;
  flex: none;
}

.post-comment-opt:hover,
.post-comment-opt:focus {
  background-color: #f1f3f4
}

.post-comment-opt::before {
  font-family: "unicons";
  font-size: 24px;
  content: '\e99e';
  /* line-height: 30px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

