<div class="main_content_inner">
  <div uk-grid>
      <div class="uk-width-2-3@m fead-area">
          <div class="uk-position-relative" uk-slider="finite: true">
              <div class="uk-slider-container pb-3">
                  <div class="uk-visible@m">
                      <a class="uk-position-center-left-out slidenav-prev" href="#"
                          uk-slider-item="previous"></a>
                      <a class="uk-position-center-right-out slidenav-next" href="#"
                          uk-slider-item="next"></a>
                  </div>
                  <div class="uk-hidden@m">
                      <a class="uk-position-center-left slidenav-prev" href="#"
                          uk-slider-item="previous"></a>
                      <a class="uk-position-center-right slidenav-next" href="#"
                          uk-slider-item="next"></a>
                  </div>
              </div>
          </div>
          <div class="post-newer mt-lg-2">

              <div class="post-new" uk-toggle="target: body ; cls: post-focus">
                  <div class="post-new-media">
                      <div class="post-new-media-user">
                          <img src="assets/images/avatars/avatar-2.jpg" alt="">
                      </div>
                      <div class="post-new-media-input">
                          <input type="text" class="uk-input" placeholder="Quel est ton avis ? La Crème!">
                      </div>
                  </div>
                  <hr>
                  <div class="post-new-type">
                      <a href="#">
                          <img src="assets/images/icons/photo.png" alt="">
                          Ressource
                      </a>
                      <a href="#" class="uk-visible@s">
                          <img src="assets/images/icons/tag-friend.png" alt="">
                          Tag un ami
                      </a>
                      <a href="#"><img src="assets/images/icons/reactions_wow.png" alt="">
                          Humeur/activité
                      </a>
                  </div>
              </div>
              <div class="post-pop">
                  <div class="post-new-overyly" uk-toggle="target: body ; cls: post-focus"></div>
                  <div class="post-new uk-animation-slide-top-small">
                      <div class="post-new-header">
                          <h4> Créer une ressource</h4>
                          <!-- close button-->
                          <span class="post-new-btn-close" uk-toggle="target: body ; cls: post-focus"
                              uk-tooltip="title:Close; pos: left "></span>
                      </div>
                      <div class="post-new-tab-nav">
                          <a href="#">
                              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                  viewBox="0 0 512 512">
                                  <path fill="#6bcfef"
                                      d="M312 155h91c2.8 0 5-2.2 5-5 0-8.9-3.9-17.3-10.7-22.9L321 63.5c-5.8-4.8-13-7.4-20.6-7.4-4.1 0-7.4 3.3-7.4 7.4V136c0 10.5 8.5 19 19 19z">
                                  </path>
                                  <path fill="#6bcfef"
                                      d="M267 136V56H136c-17.6 0-32 14.4-32 32v336c0 17.6 14.4 32 32 32h240c17.6 0 32-14.4 32-32V181h-96c-24.8 0-45-20.2-45-45z">
                                  </path>
                              </svg>
                              <span> Fichier </span>
                          </a>
                          <a href="#">
                              <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23"
                                  viewBox="0 0 24 24">
                                  <path fill="#f35369"
                                      d="M12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5M12,2A7,7 0 0,0 5,9C5,14.25 12,22 12,22C12,22 19,14.25 19,9A7,7 0 0,0 12,2Z">
                                  </path>
                              </svg>
                              <span> Emplacement </span>
                          </a>

                      </div>
                      <div class="uk-flex uk-flex-between">

                          <button class="button outline-light circle" type="button" style="
                          border-color: #e6e6e6;  border-width: 1px;  ">Public</button>
                          <div uk-dropdown>
                              <ul class="uk-nav uk-dropdown-nav">
                                  <li class="uk-active"><a href="#">Seulement moi</a></li>
                                  <li><a href="#">Tout le monde</a></li>
                                  <li><a href="#"> Mes amis </a></li>
                              </ul>
                          </div>
                          <a href="#" class="button primary px-6"> Partager </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="post">
              <div class="post-heading">
                  <div class="post-avature">
                      <img src="assets/images/avatars/avatar-6.jpg" alt="">
                  </div>
                  <div class="post-title">
                      <h4> Butcher </h4>
                      <p> 17 <span> h</span> <i class="uil-users-alt"></i> </p>
                  </div>
                  <div class="post-btn-action">
                      <span class="icon-more uil-ellipsis-h"></span>
                      <div class="mt-0 p-2" uk-dropdown="pos: top-right;mode:hover ">
                          <ul class="uk-nav uk-dropdown-nav">
                              <li><a href="#"> <i class="uil-share-alt mr-1"></i> Partager</a> </li>
                              <li><a href="#"> <i class="uil-edit-alt mr-1"></i> Modifier le message </a></li>
                              <li><a href="#"> <i class="uil-comment-slash mr-1"></i> Désactiver les commentaires
                                  </a></li>
                              <li><a href="#"> <i class="uil-favorite mr-1"></i> Ajouter des favoris </a>
                              </li>
                              <li><a href="#" class="text-danger"> <i class="uil-trash-alt mr-1"></i>
                                      Supprimer </a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="post-description">
                  <div class="fullsizeimg">
                      <img src="assets/images/post/img-1.jpg" alt="">
                  </div>

                  <div class="post-state-details">
                      <div>
                          <img src="assets/images/icons/reactions_like.png" alt="">
                          <img src="assets/images/icons/reactions_love.png" alt="">
                          <p> 13 </p>
                      </div>
                      <p> 24 commentaires</p>
                  </div>
              </div>
              <div class="post-state">
                  <div class="post-state-btns"> <i class="uil-thumbs-up"></i> 126<span> Aimé(e) </span>
                  </div>
                  <div class="post-state-btns"> <i class="uil-heart"></i> 18 <span> commentaires</span>
                  </div>
                  <div class="post-state-btns"> <i class="uil-share-alt"></i> 193 <span> Partagé
                      </span>
                  </div>
                  <div class="post-state-btns"> <i class="uil-bookmark"></i> 13 <span> Enregistré(e) </span>
                  </div>
              </div>

              <!-- post comments -->
              <div class="post-comments">
                  <a href="#" class="view-more-comment"> Voir 8 autres commentaires</a>
                  <div class="post-comments-single">
                      <div class="post-comment-avatar">
                          <img src="assets/images/avatars/avatar-5.jpg" alt="">
                      </div>
                      <div class="post-comment-text">
                          <div class="post-comment-text-inner">
                              <h6> Le français</h6>
                              <p> Bla bla bla</p>
                          </div>
                          <div class="uk-text-small">
                              <a href="#" class="text-danger mr-1"> <i class="uil-heart"></i> J'aime
                              </a>

                              <span> 1 jour</span>
                          </div>
                      </div>
                      <a href="#" class="post-comment-opt"></a>
                  </div>

              </div>
          </div>
          <div class="post">
          </div>
          <div class="post">
          </div>

      </div>
      <div class="uk-width-expand">

          <div class="sl_sidebar_sugs_title border-0">Tendance !
              <i class="icon-feather-rotate-cw"></i>
          </div>
          <div class="list-group-item sl_htag">
              <a href="#">
                  <span class="htag_top"> #test</span>
              </a>
          </div>
          <div class="list-group-item sl_htag">
              <a href="#">
                  <span class="htag_top"> #test</span>
              </a>
          </div>
          <div class="list-group-item sl_htag">
              <a href="#">
                  <span class="htag_top"> #test</span>
              </a>
          </div>
          <div class="list-group-item sl_htag">
              <a href="#">
                  <span class="htag_top"> #test</span>
              </a>
          </div>
          <div class="list-group-item sl_htag">
              <a href="#">
                  <span class="htag_top"> #test</span>
              </a>
          </div>
          <div class="list-group-item sl_htag">
              <a href="#">
                  <span class="htag_top"> #test</span>
              </a>
          </div>


          <div class="uk-position-relative" uk-slider="finite: true; autoplay:true">

              <div class="uk-slider-container pb-3">


                  <a class="uk-position-center-left uk-hidden-hover slidenav-prev sl_pro_users_prev"
                      href="#" uk-slider-item="previous"></a>
                  <a class="uk-position-center-right-out uk-position-small uk-hidden-hover slidenav-next sl_pro_users_next"
                      href="#" uk-slider-item="next"></a>

              </div>
          </div>

          <div class="sl_sidebar_sugs_title">Les gens que vous connaissez peut-être
              <i class="icon-feather-rotate-cw"></i>
          </div>
          <div class="sl_sidebar_sugs">
              <div class="sl_sidebar_sugs_avatar">
                  <img src="assets/images/avatars/avatar-1.jpg" alt="">
              </div>
              <div class="sl_sidebar_sugs_text">
                  <a href="#" class="sl_user_link_name"> Le protecteur </a>
              </div>
              <div class="user-follow-button sl_sidebar_sugs_btns">
                  <button type="button" class="button small">
                      <span> Suivre</span>
                  </button>
              </div>
          </div>
          <div class="sl_sidebar_sugs">
              <div class="sl_sidebar_sugs_avatar">
                  <img src="assets/images/avatars/avatar-6.jpg" alt="">
              </div>
              <div class="sl_sidebar_sugs_text">
                  <a href="#" class="sl_user_link_name"> Annie January </a>
              </div>
              <div class="user-follow-button sl_sidebar_sugs_btns">
                  <button type="button" class="button small">
                      <span> Accepter</span>
                  </button>
              </div>
          </div>
          <div class="sl_sidebar_sugs_title mt-4">Ressources que vous pourriez aimer
              <i class="icon-feather-rotate-cw"></i>
          </div>
          <div class="sl_sidebar_sugs_title mt-4">Groupes suggérés
              <i class="icon-feather-rotate-cw"></i>
          </div>
          <div class="sl_sidebar_sugs">
              <div class="sl_sidebar_sugs_avatar">
                  <img src="assets/images/group/group-2.jpg" alt="">
              </div>
              <div class="sl_sidebar_sugs_text">
                  <a href="#" class="sl_user_link_name"> Les saiyans </a>
                  <span> 6 Membres</span>
              </div>
              <div class="user-follow-button sl_sidebar_sugs_btns">
                  <button type="button" class="button small">
                      <span> Rejoindre </span>
                  </button>
              </div>
          </div>
          <div class="sl_sidebar_sugs_title mt-4">Utilisateurs en ligne 1
          </div>
          <div class="sl_sidebar_sugs_title mt-1"> Invite tes amis
              <i class="icon-feather-rotate-cw"></i>
          </div>
          <form action="#" class="invite-user-form">
              <div class="sl_form_fields invite-user-combine">
                  <input type="text" name="email" placeholder="E-mail" class="form-control">
                  <button class="button small" title="Envoyer une invitation"><svg
                          xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                          <path fill="currentColor" d="M2,21L23,12L2,3V10L17,12L2,14V21Z"></path>
                      </svg></button>
              </div>
          </form>
          <!-- Footer menus-->
          <div class="footer-wrapper-sidebar mt-4">
              <div class="footer-powered">
                  <p> © 2020 Resources relationnelles</p>
              </div>
              <hr>
              <ul class="list-inline">
                  <li><a href="#">A propos de nous</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Contactez-nous</a></li>
              </ul>
              <div class="clear"></div>
          </div>
      </div>
  </div>
</div>
