<div class="uk-grid-collapse bg-gradient-primary" uk-grid>
  <div class="uk-card-default px-5 py-8">
    <div class="mb-4 uk-text-center">
        <h2 class="mb-0"> Se connecter</h2>
    </div>
      <div class="card-body">
          <form class="uk-child-width-1-1 uk-grid-small" uk-grid [formGroup]="form" (ngSubmit)="onSubmit()">
            <div>
              <div class="uk-form-group">
                  <label class="uk-form-label">Adresse mail</label>
                  <div class="uk-position-relative w-100">
                    <span class="uk-form-icon">
                        <i class="icon-feather-user"></i>
                    </span>
                    <input type="text" formControlName="email" class="uk-input" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  </div>
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">L'adresse mail est requis</div>
                      <div *ngIf="f.email.errors.email">L'adresse mail est invalide</div>
                  </div>
              </div>
            </div>
              <div class="uk-width-1-2@s">
                <div class="uk-form-group">
                  <label class="uk-form-label">Mot de passe</label>
                  <div class="uk-position-relative w-100">
                    <span class="uk-form-icon">
                        <i class="icon-feather-lock"></i>
                    </span>
                  <input type="password" formControlName="password" class="uk-input" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  </div>
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Mot de passe requis</div>
                  </div>
                </div>
              </div>
              <div class="mt-4 uk-flex-middle uk-grid-small" uk-grid>
                <div class="uk-width-expand@s">
                  <p> Vous n'avez pas de compte ? <a routerLink="../register">S'inscrire</a></p>
                </div>
                  <div class="form-group">
                      <button [disabled]="loading" class="btn btn-primary">
                          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                          S'identifier
                      </button>
                  </div>
                  <div class="form-group col text-right">
                      <a routerLink="../forgot-password" class="btn btn-link pr-0">Mot de passe oublié?</a>
                  </div>
              </div>
          </form>
      </div>
