<h3 class="card-header">réinitialiser le mot de passe</h3>
<div class="card-body">
    <div *ngIf="tokenStatus == TokenStatus.Validating">
      Validation du jeton ...
    </div>
    <div *ngIf="tokenStatus == TokenStatus.Invalid">
      La validation du jeton a échoué, si le jeton a expiré, vous pouvez en obtenir un nouveau à la page <a routerLink="../forgot-password">Mot de passe oublié</a>.
    </div>
    <form *ngIf="tokenStatus == TokenStatus.Valid" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Mot de passe</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Mot de passe requis</div>
                <div *ngIf="f.password.errors.minlength">Le mot de passe doit être au moins de 6 caractères</div>
            </div>
        </div>
        <div class="form-group">
            <label>Confirmez le mot de passe</label>
            <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">Confirmer le mot de passe est requis</div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">Les mots de passe doivent correspondre</div>
            </div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Réinitialiser le mot de passe
            </button>
            <a routerLink="../login" class="btn btn-link">Annuler</a>
        </div>
    </form>
</div>
